# Reading & Writing to the Database

In [3]:
import DatabaseFunctions
import importlib
importlib.reload(DatabaseFunctions)

# WD = DatabaseFunctions.MakeTraces()

# WG = DatabaseFunctions.GSheetDump()

# RD = DatabaseFunctions.MakeCSV(['BB'],Years=[2022])
WD = DatabaseFunctions.MakeTraces('_Temp/Write_NARR.ini')

Z:/BB/NARR
Creating new directory at:
 //vinimet.geog.ubc.ca/contributions$/Copy_to_Database_JSkeeter/2022/BB/Met/NARR

# Downloading NARR & ECCC Data

In [12]:
import ExtractNARR
import importlib
importlib.reload(ExtractNARR)

EX = ExtractNARR.PointSample("BB2",[2020])

Estimating hpbl for 2020 at BB2

In [10]:
CT = EX.Trace.groupby(EX.Trace.index.year).count()[EX.var_name]
EX.Trace.loc[EX.Trace.index.year.isin(CT.loc[CT>8].index)]

                       hpbl  hpbl_interp_linear  hpbl_interp_spline_2ndOrder
TIMESTAMP
2022-01-01 00:00:00     NaN              1276.9                       1276.5
2022-01-01 00:30:00     NaN              1275.0                       1274.3
2022-01-01 01:00:00  1273.0              1273.0                       1273.0
2022-01-01 01:30:00     NaN              1273.5                       1272.7
2022-01-01 02:00:00     NaN              1274.0                       1273.3
...                     ...                 ...                          ...
2022-12-31 11:00:00     NaN              1383.5                       1418.6
2022-12-31 11:30:00     NaN              1319.1                       1358.5
2022-12-31 12:00:00     NaN              1254.6                       1289.7
2022-12-31 12:30:00     NaN              1190.2                       1212.1
2022-12-31 13:00:00  1125.7              1125.7                       1125.7

[17499 rows x 3 columns]