# Reading & Writing to the Database

In [18]:
import DatabaseFunctions
import importlib
importlib.reload(DatabaseFunctions)

# WD = DatabaseFunctions.MakeTraces()

WG = DatabaseFunctions.GSheetDump()

# RD = DatabaseFunctions.MakeCSV(['BB'],Years=[2022])
# WD = DatabaseFunctions.MakeTraces('_Temp/Write_NARR.ini')

Timezone not provided, estimating for -122.9849701, 49.12930679
Initialized for: America/Vancouver
DatetimeIndex(['2023-05-31', '2023-08-22'], dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2023-05-30 23:00:00', '2023-08-21 23:00:00'], dtype='datetime64[ns]', name='Date', freq=None)
Timezone not provided, estimating for -122.9849701, 49.12930679
Initialized for: America/Vancouver
DatetimeIndex(['2023-03-28 14:19:00', '2023-06-07 13:40:00',
               '2023-06-26 10:41:00', '2023-07-15 11:16:00',
               '2023-07-19 13:54:00', '2023-07-21 10:31:00',
               '2023-08-22 11:18:00', '2023-09-16 11:55:00'],
              dtype='datetime64[ns]', name='Timestamp', freq=None)
DatetimeIndex(['2023-03-28 13:19:00', '2023-06-07 12:40:00',
               '2023-06-26 09:41:00', '2023-07-15 10:16:00',
               '2023-07-19 12:54:00', '2023-07-21 09:31:00',
               '2023-08-22 10:18:00', '2023-09-16 10:55:00'],
              dtype='datetime64[ns]', name='Timestamp', freq=None)
Timezone not provided, estimating for -122.99517, 49.119038
Initialized for: America/Vancouver
DatetimeIndex(['2023-03-28 11:45:00', '2023-05-31 13:15:00',
               '2023-06-07 11:45:00', '2023-06-26 12:30:00',
               '2023-07-19 12:19:00', '2023-08-10 11:12:00',
               '2023-08-22 13:01:00', '2023-09-16 13:48:00'],
              dtype='datetime64[ns]', name='Timestamp', freq=None)
DatetimeIndex(['2023-03-28 10:45:00', '2023-05-31 12:15:00',
               '2023-06-07 10:45:00', '2023-06-26 11:30:00',
               '2023-07-19 11:19:00', '2023-08-10 10:12:00',
               '2023-08-22 12:01:00', '2023-09-16 12:48:00'],
              dtype='datetime64[ns]', name='Timestamp', freq=None)

In [19]:
WG.Data

                     WTH cm  Pipe_Height cm
Timestamp
2023-03-28 10:30:00    69.3            79.0
2023-03-28 11:00:00     NaN             NaN
2023-03-28 11:30:00     NaN             NaN
2023-03-28 12:00:00     NaN             NaN
2023-03-28 12:30:00     NaN             NaN
...                     ...             ...
2023-09-16 10:30:00     NaN             NaN
2023-09-16 11:00:00     NaN             NaN
2023-09-16 11:30:00     NaN             NaN
2023-09-16 12:00:00     NaN             NaN
2023-09-16 12:30:00   126.5            86.0

[8261 rows x 2 columns]

# Downloading NARR & ECCC Data

In [12]:
# import ExtractNARR
# import importlib
# importlib.reload(ExtractNARR)

# EX = ExtractNARR.PointSample("BB2",[2020])

# import os
# os.listdir(//vinimet.geog.ubc.ca/contributions$/Copy_to_Database_JSkeeter/YEAR/SITE/)

Estimating hpbl for 2020 at BB2

In [16]:
import TzFuncs
import importlib

import pandas as pd
importlib.reload(TzFuncs)

dtr = pd.date_range(start='2023-1-1 0:00',end='2023-12-31 00:00',freq='30T')
dtr = pd.date_range(start='2023-03-11 23:00',end='2023-03-12 08:00',freq='1H')
# dtr = pd.date_range(start='2023-11-4 23:00',end='2023-11-5 08:00',freq='1H')


# print('input')
# print(dtr)
# print()

# tzf = TzFuncs.Tzfuncs(dtr,Time_Zone='America/Vancouver')

tzf = TzFuncs.Tzfuncs(dtr,Time_Zone='Etc/GMT-8')
# tzf = TzFuncs.Tzfuncs(dtr,DST=True)

# tzf.TimeConversions
print(dtr)

Initialized for: Etc/GMT-8
DatetimeIndex(['2023-03-11 23:00:00', '2023-03-12 00:00:00',
               '2023-03-12 01:00:00', '2023-03-12 02:00:00',
               '2023-03-12 03:00:00', '2023-03-12 04:00:00',
               '2023-03-12 05:00:00', '2023-03-12 06:00:00',
               '2023-03-12 07:00:00', '2023-03-12 08:00:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:

tzf.Standard_Time
# pd.Datetime

DatetimeIndex(['2023-03-11 23:00:00', '2023-03-12 00:00:00',
               '2023-03-12 01:00:00', '2023-03-12 02:00:00',
               '2023-03-12 03:00:00', '2023-03-12 04:00:00',
               '2023-03-12 05:00:00', '2023-03-12 06:00:00',
               '2023-03-12 07:00:00', '2023-03-12 08:00:00'],
              dtype='datetime64[ns]', freq=None)

In [23]:

def add_forgotten_dst(dt, zoneinfo):
    '''Like pytz.localize, but ignores dst.'''
    utcoffset = zoneinfo.utcoffset(dt)
    print(utcoffset.total_seconds()/60/60)
    dst = zoneinfo.dst(dt)
    print(dst)
    standard_offset = utcoffset - dst
    print(standard_offset)
    dt = dt.replace(tzinfo=timezone(standard_offset))
    # print(dt)
    return dt.astimezone(zoneinfo)

naive_time = datetime.now()#(2018, 5, 18, 18, 50)
# naive_time = datetime(2018, 5, 18, 18, 50)
# naive_time = datetime(2018, 1, 18, 18, 50)
# print()#
add_forgotten_dst(naive_time, pytz.timezone(TZ))
print()


# class TZ_funcs():
#     def __init__(self) -> None:
#         pass

-7.0
1:00:00
-1 day, 16:00:00