# Reading & Writing to the Database

In [3]:
import DatabaseFunctions
import importlib
importlib.reload(DatabaseFunctions)

WD = DatabaseFunctions.MakeTraces()

WG = DatabaseFunctions.GSheetDump()

# RD = DatabaseFunctions.MakeCSV(['BB'],Years=[2022])

In [79]:
# RD.AllData

,SW_IN_1_1_1,LW_IN_1_1_1,SW_OUT_1_1_1,LW_OUT_1_1_1,TA_1_1_1,RH_1_1_1,P_1_1_1,PA_1_1_1,WS_1_1_1,WD_1_1_1
TIMESTAMP,,,,,,,,,,
2022-01-01 0030,0.059775,263.227905,1.358248,271.214386,-7.762711,83.282547,0.0,102.397125,0.659737,0.659737
2022-01-01 0100,0.019907,265.937500,1.101564,274.978577,-7.200051,82.645554,0.0,102.403419,1.401023,1.401023
2022-01-01 0130,0.102981,268.363220,0.614629,279.228333,-6.349798,79.349396,0.0,102.417686,1.692178,1.692178
2022-01-01 0200,0.025781,273.880676,0.394172,281.600616,-6.297863,79.832657,0.0,102.448502,1.855905,1.855905
2022-01-01 0230,0.032684,277.710968,0.381383,283.539642,-6.020581,79.850449,0.0,102.461418,2.013627,2.013627
...,...,...,...,...,...,...,...,...,...,...
2022-12-31 2200,0.021070,315.714142,1.024608,329.247955,3.637281,100.000000,0.0,101.528748,0.272883,0.272883
2022-12-31 2230,0.010573,315.342346,0.767078,326.799713,2.872108,100.000000,0.0,101.562469,0.822079,0.822079
2022-12-31 2300,0.000000,307.020142,1.674744,326.814484,3.287500,100.000000,0.0,101.596970,1.257066,1.257066
2022-12-31 2330,0.000000,313.322174,0.808969,325.860657,2.639389,100.000000,0.0,101.635017,0.982293,0.982293
2023-01-01 0000,0.292210,324.600159,1.142767,341.339783,NaN,NaN,NaN,NaN,NaN,NaN

# Downloading NARR & ECCC Data