In [27]:
import numpy as np
from pathlib import Path
import pandas as pd

In [16]:
# Config
DATABASE_PATH = Path('../../../ecoflux/test_files/Database')
SITE = 'SMC'
YEAR = '2017'

In [34]:
def load_variable(variable_name, dtype=np.float32):
    return np.fromfile(DATABASE_PATH / YEAR / SITE / 'Clean' / 'ThirdStage' / variable_name, dtype=dtype)

timestamp = load_variable('clean_tv', dtype=np.float64)
timestamp_end = pd.to_datetime(timestamp - 719529, unit='D').round('s')
ta = load_variable('TA_1_1_1')
fch4_f = load_variable('FCH4_F_ML_ANN')

In [37]:
df = pd.DataFrame({'timestamp': timestamp_end, 'TA': ta, 'FCH4_F_ML_ANN': fch4_f})
df

                timestamp  TA  FCH4_F_ML_ANN
0     2017-01-01 00:30:00 NaN       2.146387
1     2017-01-01 01:00:00 NaN       2.146385
2     2017-01-01 01:30:00 NaN       2.146384
3     2017-01-01 02:00:00 NaN       2.146382
4     2017-01-01 02:30:00 NaN       2.146380
...                   ...  ..            ...
17515 2017-12-31 22:00:00 NaN       3.462880
17516 2017-12-31 22:30:00 NaN       3.463101
17517 2017-12-31 23:00:00 NaN       3.463322
17518 2017-12-31 23:30:00 NaN       3.463544
17519 2018-01-01 00:00:00 NaN       3.494121

[17520 rows x 3 columns]